################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KTMBKiosk/.vs/NssIT.Train.Kiosk/FileContentIndex/016eba36-29b5-4a99-a21d-870d396e700a.vsidx
/KTMBKiosk/.vs/NssIT.Train.Kiosk/FileContentIndex
